Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-identifier-naming,modernize-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
   - key:             readability-identifier-naming
     value:           lower_case