Checks: 'bugprone-*,clang-diagnostic-*,misc-*,modernize-*,performance-*,readability-*,-modernize-pass-by-value,-misc-move-const-arg,-clang-analyzer-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
   - key: readability-identifier-naming
     value: lower_case